global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend fe_h3
    mode http
    bind quic4@0.0.0.0:27440 ssl crt /home/john/quic-fuzz/certs/server.pem alpn h3

    # 先二选一测试，不能同时发给两个后端
    # default_backend be_h1
    default_backend be_h2

backend be_h1
    mode http
    server h1srv 127.0.0.1:28080 check

backend be_h2
    mode http
    server h2srv 127.0.0.1:28081 check proto h2
